#Silly{
  margin-top: 3vh;
	height: 70vh;  /*95% of viewport height*/
	background-image: linear-gradient(to right bottom,rgba(17,153,158,0.8),rgba(48,227,202,0.8)), url("https://static-cse.canva.com/blob/142655/Purple-Beer-Distance-Pun-Fun-Shareable-Zoom-Background.jpg");
    background-position: top;
    position: relative;
}


.text-box{
	position: absolute;
	top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 8%;

}

.heading-primary-main{
    margin-top: 10vh;
    display: block;
    font-weight: 400;
    font-size: 150%;
    /*font-size: 60px;*/
    letter-spacing: 2.1875rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; 
    
    animation-delay: .5s;
    margin-bottom: 4%;
}

.heading-primary-sub{
  display: block;
  font-size: 70%;
  font-weight: 700;
  letter-spacing: 1.0875rem;
  animation-name: moveInRight;
   animation-delay: .5s;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  margin-bottom: 7%;
}

@keyframes moveInLeft{
     0%{
     opacity: 0;
     transform: translateX(-6.25rem) rotate(0deg);
       } 
60%{
  transform: rotate(180deg);
}
   80%{
       transform: translateX(0.625rem)  ;
      }
   100%{
      opacity: 1;
      transform: translate(0);
       }
}



@keyframes moveInRight{
     0%{
     opacity: 0;
     transform: translateX(6.25rem);
       }
  
   80%{
       transform: translateX(-.625rem);
      }
   100%{
      opacity: 1;
      transform: translate(0);
       }
}

@keyframes moveInBottom{
0%{
     opacity: 0;
     transform: translateY(1.875rem); /*Move it down*/
       }
   100%{
      opacity: 1;
      transform: translate(0);
       }
}


.btn:link, .btn:visited  
{
 display: inline-block;
 text-transform: uppercase;
 text-decoration: none; 
 padding: 3% 8%;
 border-radius: 6.25rem;
 transition: all .2s;
position: relative;
}

.btn:hover{
  transform: translateY(-.1875rem);
  box-shadow: 0 3.125rem 0.625rem rgba(0,0,0,0.2);
}

.btn:active  
{
transform: translateY(-.0625rem);
}

.btn-white{
  background-color: #fff;
  color: #777;
}


.btn::after{
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 6.25rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after{
  background-color: #fff;

}

.btn:hover::after{
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated{
  animation: moveInBottom 0.8s ease-out 1.2s; /*0.75 is the delay*/
  animation-fill-mode: backwards;
}
.refheading{
text-align: center;
display: block;
    font-weight: 400;
    font-size: 3em;
padding: 0.5em;
letter-spacing: 1.0875rem;
font-color: rgba(17,153,158,0.8);
}

.gap
{padding: 3em 0em;
}
.imgg, .imgg_webs, .imgg_movie{
width: 50%;
display: inline-block;
  padding: 0.3em;
  margin-top: 8%;
  margin-left: 3%;
  margin-right: 5%;
  border: solid rgba(17,153,158,0.8) 0.625rem;
}
.imgg:hover, .imgg_webs:hover, .imgg_movie:hover{
  transform: translateY(-.1875rem);
  box-shadow: 2.125rem 0.625rem 2.125rem 0.625rem rgba(0,0,0,0.2);
}
