body{
 margin: 0;
padding: 0;
background-color: #000;
}

#nav-bar{
position: sticky;
top:0;
z-index: 10;
}

.navbar{
 background: #C71585; 
padding :0 !important;
}

.navbar-brand img {
height : 2em;
padding-left: 1em;
}

.navbar-nav li{
padding : 0 0.5em;
}

.navbar-nav li a{
color :#fff !important;
font-weight: 600;
float : right;
text-align : left;
}

.fas fa-align-justify{
 color : #000;
font-size: 3em !important;
}

.navbar-toggler{
outline: none !important;
}

.bgg{
width: 23%;
display: inline-block;
float: right;
padding-top:2%;
position: relative;
}

#h1{
padding: 2.7em;
padding-right: 0em;
width : 100%;
text-align: center;
position:relative;
}
.bg {
background-image: url("https://media.giphy.com/media/xT9IgHj397XEgKhMXu/giphy.gif");
backround-size: cover;
background-position: 0 0;
background-repeat: repeat-x;
animation: animate  5s linear  infinite;
}
@keyframes animate {
     from{
  background-position: 0 0;
            }
     to{
  background-position: 100% 0;
         }
}

#welcome{
  height: 40vh;
  display: block;
}
#middlepart{
  display: 50vh;
  display: block;
}

@keyframes Left{
     0%{
     opacity: 0;
     transform: translateX(-6.25rem);
       }
   80%{
       transform: translateX(.625rem)  ;
      }
   100%{
      opacity: 1;
      transform: translate(0);
       }
}

@keyframes Right{
     0%{
     opacity: 0;
     transform: translateX(6.25rem);
       }
   80%{
       transform: translateX(-.625rem);
      }
   100%{
      opacity: 1;
      transform: translate(0);
       }
}

.hi_sticker{
display: inline;
}

.eimage1{
  display: inline-block;
  width: 17%;
  padding-left: 0.2em;
  padding-right: 0.3em;
  margin-top: 8%;
  margin-left: 3%;
  margin-right: 7%;
  border: solid #ad8d2f 0.625rem;
  animation: Left 1s ease-out ;
}

.text_box{
  //background: #FFFFFF; 
  //border: solid #ad8d2f 0.625rem;
  //margin-top: 0%;
  width:55 %;
  display: inline-block;
  border-collapse:separate;
  color:#C71585;
  animation: Right 1s ease-out ;
}

.text_hi{
font-family: "Comic Sans MS", "Brush Script MT", "Times New Romans";
  letter-spacing: .125rem;
  line-height: 1.9;
  font-size: 1.7rem;
  text-align: center;
  //padding-right: 3em;
 padding-bottom: -6em;
 font-weight: bold;
//float: right;
position: relative;
top: 2.3em;
}

.heading{
//margin-top: 1em;
}

.jokegif{
width: 18%;
position: relative;
top: 2.7em;
margin-top: 5em;
padding-top: 0em;
//margin-bottom: -2.5em; 
padding-left: 3em;
margin-left: 26em;
//transform: translate(-3px, 37px);
}

.text_jokes{
//position : absolute;
 border: solid #ad8d2f 0.625rem;
text-align: center;
margin-left : 8.5em;
width : 50%;
padding-right:0.1%; 
//float:none;
}

#carouselExampleInterval {
width: 40%;
//text-align:center;
margin-left: 20.5em;
margin-top: 3em;
margin-bottom: 7em;
}

#carouselExampleInterval .carousel-inner{
width: 80%;
margin-left: 2.6em;
}

#carouselExampleInterval .carousel-inner img{
width : 100%;
background : #000;
color: #fff;
box-sizing : border-box;
padding : 5em 0.5 em;
}

/*meme*/

#meme_heading{
 margin-top: 3%;
margin-left: 25%;
 width: 50%;
padding: 0.3em;
  display: block;
  border-collapse:separate;
 border: solid #ad8d2f 0.6rem;
 color:#dc3545;
text-align: center;
  margin-top: 6%;
 font-weight: 400;
   font-size: 3em;
letter-spacing: 0.1275rem;
font-family: "Comic Sans MS", "Brush Script MT", "Times New Romans";
}

.meme_para{ 
font-family: "Comic Sans MS", "Brush Script MT", "Times New Romans";
color: #C71585; 
text-align: center;
//display: block;
   padding-left: 0em;
  padding-right: 0em;
  margin-top: 3%;
  //margin-left: 3%;
  //margin-right: 5%;
 font-weight: 300;
 font-size: 2em;
padding-left: 3em;
letter-spacing: 0.0275rem;
display: inline-block;
}

.meme_gif{
width: 25%;
padding-left: 2em;
margin-left: 2em;
display:inline-block;
}

.meme_button{
text-align: center;
padding-top: 0.2em;
padding-bottom: 4em;
margin-top: -5em;
margin-left: 13em;
}



.quiz_h1{

text-align: center;
  border: solid #ad8d2f 0.625rem;
  margin-top: 9%;
margin-left: 20%;
  width: 55%;
padding: 0.5em;
  display: block;
  border-collapse:separate;
  color:#dc3545;
}

.quiz_sticker2{
position: relative;
display: inline-block;
width: 25%;
margin-top: -13.0em;
padding-top: 0em;
margin-right: 6em;
float:right;
}

#quizs {
    display: block;
    width: 80vh;
    margin-left: 6em;
    background: yellow;
   margin-top: 3em;
   margin-bottom: -7em;
    padding: 0.8em 1.3em 1em 1.1em; 
    width:23em;
   height: 27em;
    border-radius: 0.6em;
}

input {
    margin-bottom: 1.3em;
    display: block;
}

#quiz_textbox {
    height: 1.7em;
    font-size: 1em;
    border-radius: 0.4em;
    border: none;
    padding-left: 0.3em;
}
#button {
    background: green;
    border: none;
    border-radius: 0.4em;
    padding: 0.5em;
    color: white;
    font-size: 1em;
    transition-duration: .5s;
    margin-top: 1em;
}

#button:hover {
    background: white;
    border: 1px solid green;
    color: black;
    cursor: pointer;
}

#after_submit {
    visibility: hidden;
   position: relative;
    background: #ff5459;
    padding: 0.4em 1.0em 0.4em 1.0em;
    width: 13em;
    border-radius: 20px;
    margin-left: 20em;
    font-size: 30px;
 transform:translate(0em,-10em);
}

#picture {
    width: 10em;
    height: 7em;
}

#options {
    display: inline;
}



.creators{
display: inline-block;
}

.eimage2 {
  display: inline-block;
  width: 26%;
  padding-left: 0.5em;
  margin-top: -1em;
  margin-left: 4em;
   margin-bottom: 10em;
  border: solid #ad8d2f 0.625rem;
  animation: Left 2s ease-out ;
  border-color: #FFFFFF;
}

.wanna{
  margin-top: -3em;
font-family: "Lucida Console","Comic Sans MS", "Brush Script MT", "Times New Romans";
  letter-spacing: .123rem;
  line-height: 1.7;
  font-size: 2.4em;
  text-align: center;
display: inline-block;
margin-bottom: 2em;
padding-top:1.0%;
 font-weight: bold;
float:right;
}

.wannabox{
 //position: relative;
  width: 55%;
   padding : 0.1em;
  display: inline-block;
  border-collapse:separate;
  color:#dc3545;
  animation: Right 1s ease-out ;
}




/********** Layout CSS ************/


.container {
  display: inline-block;
  width: 100%;
  padding-right: 1em;
  padding-left: 3em;
  margin: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.column {
  position: relative;
  width: 100%;
   margin-top: -7.2em; 
  padding-right: 1em;
  padding-left: 4em;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .column {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .column {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 9em;
  }
}

@media (min-width: 992px) {
  .column {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
.title {
  margin-bottom: 25px;
  text-align: center;
}

.title h1 {
  font-size: 25px;
  color: #000000;
}

.credit {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.credit a {
  font-weight: 900;
  color: #000000;
  text-decoration: underline;
}



/********** Effect #1 CSS *********/
.effect-1 {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.effect-1 .effect-img {
  font-size: 0;
}

.effect-1 .effect-img img {
  width: 100%;
  height: auto;
}

.effect-1 .effect-text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
  top: calc(100% - 60px);
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, .5);
  transition: .5s;
}

.effect-1:hover .effect-text {
  top: 0;
}

.effect-1 .effect-text h2 {
  height: 45px;
  color: #ffffff;
  font-size: 25px;
  margin: -15px 0 0 0;
  transition: .5s;
}

.effect-1:hover .effect-text h2 {
  margin: 0;
}

.effect-1 .effect-text p {
  color: #ffffff;
  font-size: 16px;
  margin: 0 0 20px 0;
}

.effect-1 .effect-btn .btn {
  display: inline-block;
  height: 35px;
  padding: 7px 15px;
  color: #333333;
  background: #ffffff;
  text-decoration: none;
}
#minion{
width: 77%;
}

/* featured_jokes*/
#add_joke{
padding-top: 4em;
}
#feature_gif{
display: inline-block;
width: 22%;
margin-left:4em;
margin-bottom: -8em;
}

#text_feature{
font-family: "Comic Sans MS", "Brush Script MT", "Times New Romans";
  letter-spacing: .122rem;
  line-height: 1.5;
  font-size: 2.4rem;
  text-align: center;
 margin-top: -2em;
margin-left: 25%;
  width: 60%;
  display: block;
  border-collapse:separate;
  color:#dc3545;
text-align: center;
}
#feature_button{
text-align: center;
padding-top: 0.2em;
padding-bottom: 8em;
margin-top: 1em;
}
.btn:link, .btn:visited  
{
 display: inline-block;
 text-transform: uppercase;
 text-decoration: none; 
 padding: 2% 4%;
 border-radius: 6.25rem;
 transition: all .2s;
position: relative;
}

.btn:hover{
  transform: translateY(-.1875rem);
  box-shadow: 0 3.125rem 0.625rem rgba(0,0,0,0.2);
}

.btn:active  
{
transform: translateY(-.0625rem);
}

.btn-white{
  background-color: #fff;
  color: #777;
}
.btn::after{
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 6.25rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after{
  background-color: #C71585;

}

.btn:hover::after{
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated{
  animation: moveInBottom 0.8s ease-out 1.2s; /*0.75 is the delay*/
  animation-fill-mode: backwards;
}
.byes{
background-image: url("https://media.tenor.com/images/e955f55bab6839ec724531e3bae3303c/tenor.gif");
backround-size: cover;
background-position: 0 0;
background-repeat: repeat-x;
animation: animate  8s linear  infinite;
}
@keyframes animate {
     from{
  background-position: 0 0;
            }
     to{
  background-position: 100% 0;
         }
}

.footer{
background-color: #C71585;
margin-top: 1.5em;
padding-top: 0.15em;
color :#fff !important;
font-weight: 400;
text-align: center;
}
.footer_text{
//float:right;
text-align: center;
font-weight: 600;
}
